<h1>{{vm.name}}</h1>

<ul>
    <li ng-repeat="job in vm.jobs">
        <a ng-href="#!/job/{{job._id}}" style="color: darkgoldenrod;">{{job.title}}</a>
        <a ng-href="#!/update/job/{{job._id}}" style="color:cornflowerblue;">update</a>
        <a ng-href="#!/delete/job/{{job._id}}" style="color: red;">delete</a>
    </li>
</ul>

<form name="vm.jobForm" ng-submit="vm.postJob()">
    To add a new JobOpene please fill in all the fields below:<BR />
    Title: <input type="text" name="title" required ng-model="vm.newJobTitle" /><BR />
    Salary : <input type="text" name="salary" required ng-model="vm.newJobSalary" /><BR />
    Description: <input type="text" name="description" required ng-model="vm.newJobDescription" /><BR />
    Exprience : <input type="number" name="exprience" required ng-model="vm.newJobExprience" /><BR />
    Skill: <input type="text" name="skill" required ng-model="vm.newJobSkill" /><BR />


    <button type="submit" class="btn-success">Add Job</button><BR />
</form>