<h1>{{vm.title}}</h1>

<ul>
    <li ng-repeat="game in vm.games">        
       
        <a ng-href="#!/game/{{game._id}}">{{game.title}} </a>


  <a ng-href="#!/delete/game/{{game._id}}" class="btn-danger"> Delete</a> 
       

    </li>
</ul>

<!-- <ul>
    <li ng-repeat="game in vm.games">
      <a ng-href="#!/game/{{game._id}}">{{game.title}}</a>
    
      <a class="btn-danger" ng-href="#!/delete/game/{{game._id}}">Delete </a>
    </li>
  </ul> -->



  <div ng-if="vm.message" class="alert alert-success" role="alert">
    <p>{{ vm.message}}</p>
    
</div>
<div ng-if="vm.err" class="alert alert-danger" role="alert">{{vm.err}}</div>
<form ng-hide="vm.message" name="register" ng-submit="vm.register()">
  

<form name="vm.gameForm" ng-submit="vm.postGame()">
    To add a new game please fill in all the fields below:<BR />
    Title: <input type="text" name="title" required ng-model="vm.newGameTitle" style="color:black" /><BR />
    Price: <input type="text" name="price" required ng-model="vm.newGamePrice" style="color:black" /><BR />
    Year of Publication: <input type="text" name="year" required ng-model="vm.newGameYear" style="color:black" /><BR />
    Rating: <input type="text" name="rating" required ng-model="vm.newGameRating" style="color:black" /><BR />
    Minimum Number of Players: <input 
    type="number" name="minPlayers" 
    required ng-model="vm.newGameMinPlayers"
        style="color:black"  ng-min=1 ng-max=10 />
    <span ng-show="vm.gameForm.minPlayers.$dirty &&
        vm.gameForm.minPlayers.$invalid " style="color:red">
        The Minimum number if player  must be between 1 and 10
.</span>
    <BR />
    Maximum Number of Players: 
    <input type="number" name="maxPlayers" 
    required ng-model="vm.newGameMaxPlayers"
        style="color:black" 
        ng-min=1 ng-max=10 />
         <span ng-show="vm.gameForm.maxPlayers.$dirty &&
        vm.gameForm.maxPlayers.$invalid " 
        style="color:red">
        The maximum number of players must be between 1 and 10
        </span>
    <BR />
    Minimum Recommended Player Age: <input type="text" name="minAge" required ng-model="vm.newGameMinAge"
        style="color:black" /><BR />
    Designer name: <input type="text" name="designer" required ng-model="vm.newGameDesigner" style="color:black" /><BR />
    <button type="submit" class="btn-success">Add Game</button><BR />
</form>



